AutoInsurance/AutoInsurance/Service References/ATMStagsReference/ATMStags.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Debitar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="value" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DebitarResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DebitarSoapIn">
    <wsdl:part name="parameters" element="tns:Debitar" />
  </wsdl:message>
  <wsdl:message name="DebitarSoapOut">
    <wsdl:part name="parameters" element="tns:DebitarResponse" />
  </wsdl:message>
  <wsdl:portType name="ATMStagsSoap">
    <wsdl:operation name="Debitar">
      <wsdl:input message="tns:DebitarSoapIn" />
      <wsdl:output message="tns:DebitarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ATMStagsSoap" type="tns:ATMStagsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Debitar">
      <soap:operation soapAction="http://tempuri.org/Debitar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ATMStagsSoap12" type="tns:ATMStagsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Debitar">
      <soap12:operation soapAction="http://tempuri.org/Debitar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ATMStags">
    <wsdl:port name="ATMStagsSoap" binding="tns:ATMStagsSoap">
      <soap:address location="http://localhost:54810/ATMStags.asmx" />
    </wsdl:port>
    <wsdl:port name="ATMStagsSoap12" binding="tns:ATMStagsSoap12">
      <soap12:address location="http://localhost:54810/ATMStags.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>