CorretorApplication/CorretorApplication/Service References/AutoInsurance/autoinsurance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetProposals">
        <s:complexType />
      </s:element>
      <s:element name="GetProposalsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProposalsResult" type="tns:ArrayOfProposal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProposal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Proposal" nillable="true" type="tns:Proposal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Proposal">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Car" type="tns:Car" />
          <s:element minOccurs="0" maxOccurs="1" name="Insured" type="tns:Insured" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Car">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Manufacturer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhotoUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Insured">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Age" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProposalsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProposals" />
  </wsdl:message>
  <wsdl:message name="GetProposalsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProposalsResponse" />
  </wsdl:message>
  <wsdl:portType name="AutoInsuranceSoap">
    <wsdl:operation name="GetProposals">
      <wsdl:input message="tns:GetProposalsSoapIn" />
      <wsdl:output message="tns:GetProposalsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoInsuranceSoap" type="tns:AutoInsuranceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProposals">
      <soap:operation soapAction="http://tempuri.org/GetProposals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutoInsuranceSoap12" type="tns:AutoInsuranceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProposals">
      <soap12:operation soapAction="http://tempuri.org/GetProposals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoInsurance">
    <wsdl:port name="AutoInsuranceSoap" binding="tns:AutoInsuranceSoap">
      <soap:address location="http://localhost:64373/webservice/autoinsurance.asmx" />
    </wsdl:port>
    <wsdl:port name="AutoInsuranceSoap12" binding="tns:AutoInsuranceSoap12">
      <soap12:address location="http://localhost:64373/webservice/autoinsurance.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>