ATMStags/ATMStags.Web/Service References/SerasaWebService/Serasa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidarCPF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarCPFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidarCPFResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidarCPFSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarCPF" />
  </wsdl:message>
  <wsdl:message name="ValidarCPFSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarCPFResponse" />
  </wsdl:message>
  <wsdl:portType name="SerasaSoap">
    <wsdl:operation name="ValidarCPF">
      <wsdl:input message="tns:ValidarCPFSoapIn" />
      <wsdl:output message="tns:ValidarCPFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SerasaSoap" type="tns:SerasaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarCPF">
      <soap:operation soapAction="http://tempuri.org/ValidarCPF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SerasaSoap12" type="tns:SerasaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarCPF">
      <soap12:operation soapAction="http://tempuri.org/ValidarCPF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Serasa">
    <wsdl:port name="SerasaSoap" binding="tns:SerasaSoap">
      <soap:address location="http://localhost:56659/Serasa.asmx" />
    </wsdl:port>
    <wsdl:port name="SerasaSoap12" binding="tns:SerasaSoap12">
      <soap12:address location="http://localhost:56659/Serasa.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>